body {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.picker__wrapper {
    width: 80%;
    max-width: 500px;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px auto;

    border: 1px solid #676767;
}

.picker__header {
    margin: 0 auto;
    margin-bottom: 15px;
}

.picker__preview {
    width: 100%;
    height: 200px;
    background-color: #000000;
    border: 1px solid #989898;
}

.picker__main {
    position: relative;
}

.picker__input {
    width: 75px;
    height: 30px;

    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;

    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #989898;
    border-radius: 5px;
}

.picker__chooser {
    display: flex;
}

.picker__label {
    margin-right: 5px;
}

.picker__input--main {
    width: 150px;
    margin-right: 0;
    margin-bottom: 25px;

    text-transform: uppercase;
}

.picker__scale {
    position: relative;
    flex: 1;
    height: 5px;

    margin-left: 15px;
    margin-top: 11px;
}

.picker__scale--red {
    background: #ff0000;
}

.picker__scale--green {
    background: #008000;
}

.picker__scale--blue {
    background: #0000ff;
}

.picker__range {
    position: absolute;
    box-sizing: border-box;
    padding: 5px;
    width: 8px;
    height: 20px;

    top: -8px;
    left: 0;

    background: #000;
    border-radius: 10px;
}