@import "../variables.less";
@import "../mixins.less";

.content {
  position: relative;
}
.content__create-button {
  .default;
  width: 185px;
  height: 35px;
  box-sizing: border-box;
  padding: 7px 0;
  padding-left: 25px;

  margin-bottom: 35px;

  font-size: 12px;
  line-height: 21px;
  font-weight: normal;

  background: @success-button-color;
  border-color: @success-button-color;
  box-sizing: border-box;
  & span {
    position: absolute;

    top: 7px;
    left: 16px;

    font-size: 20px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;;
  }
}

.content__title {
  margin-bottom: 28px;
}

.content__table {
  position: absolute;
  left: -40px;
}