@import "../variables.less";
@import "../mixins.less";

.table {
  display: flex;
  flex-direction: column;
  width: 90%;
  background: #ffffff;
  box-shadow: 0px 11px 21px 0px rgba(40, 40, 40, 0.07);

  .default;
}

.table__row {
  .default;
  margin-left: 68px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;

  border-bottom: 1px solid #E5E5E5;

  &:last-child {
    border: none;
  }

  &--header {
    padding-top: 23px;
    padding-bottom: 0;
  }
}

.table__cell {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  border: none !important;
  padding: 0 !important;
  &--body {
    color: #6e6e6e;
  }
}


.table__button {
  position: relative;
  .default;
    width: 150px;
    height: 36px;
    box-sizing: border-box;

    margin-bottom: 10px;

    padding-left: 10px;
    margin-right: 10px;

    & svg {
      position: absolute;
      fill: #ffffff;
      top: 10px;
      left: 14px;
    }

  &--edit {
    background: @success-button-color;
  }

  &--delete {
    background: @edit-button-color;
  }

}

@media (max-width: @mobile-width) {
  .table__row {
    margin-left: 3%;
  }
}

@media(max-width: @tablet-width) {
  .table {
    width: 100%;
    padding-left: 0;
    position: static;
  }
  .table__button  {
    font-size: 0;
    width: 40px;
    margin-right: 5px;
    & svg {
      left: 12px;
    }
  }

  .table__cell {
    font-size: 12px;
  }
}





